<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Devicely | Trade used electronic devices</title>
    <link rel="stylesheet" href="http://localhost:3000/css/base.css" />
    <link rel="stylesheet" href="http://localhost:3000/css/index.css" />
    <link rel="stylesheet" href="http://localhost:3000/css/app.css" />
  </head>
  <body>
    <header class="header">
      <h1>Devicely</h1>
    </header>
    <section>
      <h3><%=name %></h3>

      <p><%=description %></p>
    </section>

    <footer class="info">
      <p>
        Created by
        <a href="https://github.com/StrawberryChocolateFudge"
          >StrawberryChocolateFudge</a
        >
      </p>
      <p>For the Sustainable Blockchain Hackathon</p>
    </footer>
  </body>
</html>
